{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-9">
								<div class="inbox-sec">
									<div class="row">
										
										<div class="col-lg-12 col-md-9 col-sm-8">
											<div class="inbox-lists">
												<div class="inbox-action">
													<ul>
														<li><label><input type="checkbox" name="select-all" id="select_all" /> Select all</label></li>
														<li><a class="delete-email" title=""><i class="fa fa-trash-o"></i> Delete</a></li>
														<li><a title=""><i class="fa fa-refresh"></i> Refresh</a></li>
													</ul>
												</div>
												<div class="mesages-lists">
													<form method="post">
														<input type="text" placeholder="Search Email">
													</form>
													<ul id="message-list" class="message-list">
														
														{% if notifications %}
														{% for notification in notifications %}
														<li class="
														{% if notification.is_read %}
															unread
															{% else %}
															read
														{% endif %}
															 ">
															<input class="select-message" type="checkbox" />
															<span class="star-this starred"><i class="fa fa-star-o"></i></span>

															<h3 class="sender-name">{{ notification.source_user.first_name }} {{ notification.source_user.last_name }}</h3>
															<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
															<span class="make-important"><i class="fa fa-thumb-tack"></i></span>

															<p>
																{% if notification.notification_type == 'friend_request' %}
																	You have a friend request from {{ notification.source_user.first_name }}.
																{% elif notification.notification_type == 'like' %}
																	{{ notification.source_user.first_name }} liked your post.
																{% elif notification.notification_type == 'comment' %}
																	{{ notification.source_user.first_name }} commented on your post.
																{% elif notification.notification_type == 'dislike' %}
																	{{ notification.source_user.first_name }} disliked your post.
																{% elif notification.notification_type == 'follow' %}
																	{{ notification.source_user.first_name }} started following you.
																{% else %}
																	You have a new notification from {{ notification.source_user.first_name }}.
																{% endif %}
															</p>
														</li>
														{% endfor %}
															{% else %}
															You have No notifications
														{% endif %}
													</ul>
												</div>
											</div><!-- Inbox lists -->
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											
											{% if friends %}
											
											{% for f in friends %}
											<li>
												<figure>
													<img src=" {{ f.user.profile.profile_picture.url }}" alt="">
													
													{% if f.user.profile.status == "on line" %}
													<span class="status f-online"></span>
													{% else %}
													<span class="status f-offline"></span>
													{% endif %}
														
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">{{ f.user.last_name }} {{ f.user.first_name }}</a>
													
												</div>
											</li>
											{% endfor %}
												
											{% else %}
											You have no friends, try send some requests ! 
											{% endif %}
												
											
											
										</ul>
										<div class="chat-box">
											<div class="chat-head">
												<span class="status f-online"></span>
												<h6>Bucky Barnes</h6>
												<div class="more">
													<span><i class="ti-more-alt"></i></span>
													<span class="close-mesage"><i class="ti-close"></i></span>
												</div>
											</div>
											<div class="chat-list">
												<ul>
													<li class="me">
														<div class="chat-thumb"><img src="" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="you">
														<div class="chat-thumb"><img src="" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="me">
														<div class="chat-thumb"><img src="" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
												</ul>
												<form class="text-box">
													<textarea placeholder="Post enter to post..."></textarea>
													<div class="add-smiles">
														<span title="add icon" class="em em-expressionless"></span>
													</div>
													<div class="smiles-bunch">
														<i class="em em---1"></i>
														<i class="em em-smiley"></i>
														<i class="em em-anguished"></i>
														<i class="em em-laughing"></i>
														<i class="em em-angry"></i>
														<i class="em em-astonished"></i>
														<i class="em em-blush"></i>
														<i class="em em-disappointed"></i>
														<i class="em em-worried"></i>
														<i class="em em-kissing_heart"></i>
														<i class="em em-rage"></i>
														<i class="em em-stuck_out_tongue"></i>
													</div>
													<button type="submit"></button>
												</form>
											</div>
										</div>
									</div><!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	
</div>	
{% endblock content %}
	