{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">Shortcuts</h4>
                  <ul class="naves">
                    <li>
                      <i class="ti-clipboard"></i>
                      <a href="{% url 'dashboard' %}" title="">News feed</a>
                    </li>
                    <li>
                      <i class="ti-mouse-alt"></i>
                      <a href="{% url 'inbox' %}" title="">Inbox</a>
                    </li>
                    <li>
                      <i class="ti-files"></i>
                      <a href="fav-page.html" title="">My pages</a>
                    </li>
                    <li>
                      <i class="ti-post"></i>
                      <a href="timeline-photos.html" title="">My posts</a>
                    </li>

                    <li>
                      <i class="ti-power-off"></i>
                      <a href="{% url 'logout_user' %}" title="">Logout</a>
                    </li>
                  </ul>
                </div>
                <!-- Shortcuts -->

                <div class="widget stick-widget">
                  <h4 class="widget-title">Who's follownig</h4>
                  <ul class="followers">
                    <li>
                      <figure><img src="{% static '""' %}" alt="" /></figure>
                      <div class="friend-meta">
                        <h4>
                          <a href="time-line.html" title="">Kelly Bill</a>
                        </h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- who's following -->
              </aside>
            </div>
            <!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
                <div class="new-postbox">
                  <figure>
                    <img src="{{ user.profile.profile_picture.url }}" alt="" />
                  </figure>
                  <div class="newpst-input">
                    {% comment %} Post form {% endcomment %}
                    <form
                      method="post"
                      enctype="multipart/form-data"
                      action="{% url 'post' %}"
                    >
                      {% csrf_token %}
                      <textarea
                        name="content"
                        rows="2"
                        placeholder="write something"
                      ></textarea>

                      <!-- Image Preview -->
                      <div
                        class="image-preview"
                        id="imagePreview"
                        style="display: none"
                      >
                        <img
                          src=""
                          alt="Image Preview"
                          id="imagePreviewImg"
                          style="max-width: 100%; max-height: 200px"
                        />
                        <p id="imagePreviewText">Image preview</p>
                      </div>

                      <!-- Video Preview -->
                      <div
                        class="video-preview"
                        id="videoPreview"
                        style="display: none"
                      >
                        <video
                          id="videoPreviewVideo"
                          style="max-width: 100%; max-height: 200px"
                          controls
                        ></video>
                        <p id="videoPreviewText">Video preview</p>
                      </div>

                      <div class="attachments">
                        <ul>
                          <li>
                            <i class="fa fa-image"></i>
                            <label class="fileContainer">
                              <input
                                type="file"
                                name="image"
                                id="imageInput"
                                accept="image/*"
                              />
                            </label>
                          </li>
                          <li>
                            <i class="fa fa-video-camera"></i>
                            <label class="fileContainer">
                              <input
                                type="file"
                                name="video"
                                id="videoInput"
                                accept="video/*"
                              />
                            </label>
                          </li>
                          <li>
                            <button type="submit">Post</button>
                          </li>
                        </ul>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- add post new box -->
              <div class="loadMore">
                {% for post in posts %} {% include 'posts.html' %} {% endfor %}
              </div>
            </div>
            <!-- centerl meta -->
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">Your page</h4>
                  <div class="your-page">
                    <figure>
                      <a href="#" title=""
                        ><img
                          src="{% static 'images/resources/friend-avatar9.jpg' %}"
                          alt=""
                      /></a>
                    </figure>
                    <div class="page-meta">
                      <a href="#" title="" class="underline">My page</a>
                      <span
                        ><i class="ti-comment"></i
                        ><a href="insight.html" title=""
                          >Messages <em>9</em></a
                        ></span
                      >
                      <span
                        ><i class="ti-bell"></i
                        ><a href="insight.html" title=""
                          >Notifications <em>2</em></a
                        ></span
                      >
                    </div>
                    <div class="page-likes">
                      <ul class="nav nav-tabs likes-btn">
                        <li class="nav-item">
                          <a class="active" href="#link1" data-toggle="tab"
                            >likes</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="" href="#link2" data-toggle="tab">views</a>
                        </li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active fade show" id="link1">
                          <span><i class="ti-heart"></i>884</span>
                          <a href="#" title="weekly-likes"
                            >35 new likes this week</a
                          >
                          <div class="users-thumb-list">
                            <a href="#" title="Anderw" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-1.jpg' %}"
                                alt=""
                              />
                            </a>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="link2">
                          <span><i class="ti-eye"></i>440</span>
                          <a href="#" title="weekly-likes"
                            >440 new views this week</a
                          >
                          <div class="users-thumb-list">
                            <a href="#" title="Anderw" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-1.jpg' %}"
                                alt=""
                              />
                            </a>
                            <a href="#" title="frank" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-2.jpg' %}"
                                alt=""
                              />
                            </a>
                            <a href="#" title="Sara" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-3.jpg' %}"
                                alt=""
                              />
                            </a>
                            <a href="#" title="Amy" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-4.jpg' %}"
                                alt=""
                              />
                            </a>
                            <a href="#" title="Ema" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-5.jpg' %}"
                                alt=""
                              />
                            </a>
                            <a href="#" title="Sophie" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-6.jpg' %}"
                                alt=""
                              />
                            </a>
                            <a href="#" title="Maria" data-toggle="tooltip">
                              <img
                                src="{% static 'images/resources/userlist-7.jpg' %}"
                                alt=""
                              />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- page like widget -->
                <div class="widget">
                  <div class="banner medium-opacity bluesh">
                    <div
                      class="bg-image"
                      style="
                        background-image: url(images/resources/baner-widgetbg.jpg);
                      "
                    ></div>
                    <div class="baner-top">
                      <span><img alt="" src="images/book-icon.png" /></span>
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                    <div class="banermeta">
                      <p>create your own favourit page.</p>
                      <span>like them all</span>
                      <a data-ripple="" title="" href="#">start now!</a>
                    </div>
                  </div>
                </div>
                <div class="widget friend-list stick-widget">
                  <h4 class="widget-title">Friends</h4>
                  <div id="searchDir"></div>
                  <ul id="people-list" class="friendz-list">
                    <li>
                      <figure>
                        <img src="{% static '' %}" alt="" />
                        <span class="status f-online"></span>
                      </figure>
                      <div class="friendz-meta">
                        <a href="time-line.html">bucky barnes</a>
                        <i
                          ><a
                            href="https://wpkixx.com/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd"
                            >[email&#160;protected]</a
                          ></i
                        >
                      </div>
                    </li>
                  </ul>

                  <div class="chat-box">
                    <div class="chat-head">
                      <span class="status f-online"></span>
                      <h6>Bucky Barnes</h6>
                      <div class="more">
                        <span><i class="ti-more-alt"></i></span>
                        <span class="close-mesage"
                          ><i class="ti-close"></i
                        ></span>
                      </div>
                    </div>
                    <div class="chat-list">
                      <ul>
                        <li class="me">
                          <div class="chat-thumb">
                            <img src="{% static '' %}" alt="" />
                          </div>
                          <div class="notification-event">
                            <span class="chat-message-item">
                              Hi James! Please remember to buy the food for
                              tomorrow! I’m gonna be handling the gifts and
                              Jake’s gonna get the drinks
                            </span>
                            <span class="notification-date"
                              ><time
                                datetime="2004-07-24T18:18"
                                class="entry-date updated"
                                >Yesterday at 8:10pm</time
                              ></span
                            >
                          </div>
                        </li>
                        <li class="you">
                          <div class="chat-thumb">
                            <img src="{% static '' %}" alt="" />
                          </div>
                          <div class="notification-event">
                            <span class="chat-message-item">
                              Hi James! Please remember to buy the food for
                              tomorrow! I’m gonna be handling the gifts and
                              Jake’s gonna get the drinks
                            </span>
                            <span class="notification-date"
                              ><time
                                datetime="2004-07-24T18:18"
                                class="entry-date updated"
                                >Yesterday at 8:10pm</time
                              ></span
                            >
                          </div>
                        </li>
                        <li class="me">
                          <div class="chat-thumb">
                            <img src="{% static '' %}" alt="" />
                          </div>
                          <div class="notification-event">
                            <span class="chat-message-item">
                              Hi James! Please remember to buy the food for
                              tomorrow! I’m gonna be handling the gifts and
                              Jake’s gonna get the drinks
                            </span>
                            <span class="notification-date"
                              ><time
                                datetime="2004-07-24T18:18"
                                class="entry-date updated"
                                >Yesterday at 8:10pm</time
                              ></span
                            >
                          </div>
                        </li>
                      </ul>
                      <form class="text-box">
                        <textarea
                          placeholder="Post enter to post..."
                        ></textarea>
                        <div class="add-smiles">
                          <span
                            title="add icon"
                            class="em em-expressionless"
                          ></span>
                        </div>
                        <div class="smiles-bunch">
                          <i class="em em---1"></i>
                          <i class="em em-smiley"></i>
                          <i class="em em-anguished"></i>
                          <i class="em em-laughing"></i>
                          <i class="em em-angry"></i>
                          <i class="em em-astonished"></i>
                          <i class="em em-blush"></i>
                          <i class="em em-disappointed"></i>
                          <i class="em em-worried"></i>
                          <i class="em em-kissing_heart"></i>
                          <i class="em em-rage"></i>
                          <i class="em em-stuck_out_tongue"></i>
                        </div>
                        <button type="submit"></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- friends list sidebar -->
              </aside>
            </div>
            <!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const imageInput = document.getElementById("imageInput");
  const imagePreview = document.getElementById("imagePreview");
  const imagePreviewImg = document.getElementById("imagePreviewImg");
  const imagePreviewText = document.getElementById("imagePreviewText");

  imageInput.addEventListener("change", function () {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      imagePreview.style.display = "block";
      imagePreviewText.style.display = "none";

      reader.addEventListener("load", function () {
        imagePreviewImg.setAttribute("src", this.result);
      });

      reader.readAsDataURL(file);
    } else {
      imagePreview.style.display = "none";
    }
  });

  // Video preview
  const videoInput = document.getElementById("videoInput");
  const videoPreview = document.getElementById("videoPreview");
  const videoPreviewVideo = document.getElementById("videoPreviewVideo");
  const videoPreviewText = document.getElementById("videoPreviewText");

  videoInput.addEventListener("change", function () {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      videoPreview.style.display = "block";
      videoPreviewText.style.display = "none";

      reader.addEventListener("load", function () {
        videoPreviewVideo.setAttribute("src", this.result);
      });

      reader.readAsDataURL(file);
    } else {
      videoPreview.style.display = "none";
    }
  });
</script>
{% endblock content %}
